.main-box h2 {
    color: red;
    text-align: center; /* left , right, justify */
    text-decoration: underline;/* line-through, overline, none*/
    letter-spacing: 15px;
    word-spacing: 35px;
    text-shadow: 1px 1px 0 yellow,-1px -1px 0 yellow,1px -1px 0 yellow,-1px 1px 0 yellow;
   
}
.main-box  {
    text-align: justify; /* left , right, justify */
    line-height: 40px;
    text-indent: 50px;
    /* white-space: nowrap */
    text-transform: uppercase; /* capitalize , lowercase */
}